:host {
  display: block;
}

gux-button-slot {
  button {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;

    &.gux-is-active {
      color: var(--gse-ui-button-ghost-active-foregroundColor);
      background-color: var(--gse-ui-button-ghost-active-backgroundColor);
    }
  }
}
