@mixin slotted-description {
  margin: 0;
  font-family: var(--gse-ui-dynamicSideSheet-description-fontFamily) !important;
  font-size: var(--gse-ui-dynamicSideSheet-description-fontSize) !important;
  font-weight: var(--gse-ui-dynamicSideSheet-description-fontWeight) !important;
  line-height: var(--gse-ui-dynamicSideSheet-description-lineHeight) !important;
}

@mixin temporary-tokens {
  --gse-ui-blankState-borderRadius: 8px;
  --gse-ui-sideSheet-backgroundColor: #fff;
  --gse-ui-sideSheet-headerColor: #1b2c48;
  --gse-ui-sideSheet-closeColor: #3e5374;
  --gse-ui-sideSheet-dividerColor: #c6c8ce;
  --gse-ui-sideSheet-shroudColor: #23395dcc;
  --gse-ui-sideSheet-descriptionColor: #23395d;
  --gse-ui-sideSheet-heading-fontFamily: urbanist;
  --gse-ui-sideSheet-heading-lineHeight: 27px;
  --gse-ui-sideSheet-heading-fontSize: 18px;
  --gse-ui-sideSheet-heading-fontWeight: 600;
  --gse-ui-sideSheet-description-fontFamily: noto sans;
  --gse-ui-sideSheet-description-lineHeight: 18px;
  --gse-ui-sideSheet-description-fontSize: 12px;
  --gse-ui-sideSheet-description-fontWeight: 400;
  --gse-ui-sideSheet-header-headingGap: 12px;
  --gse-ui-sideSheet-header-paddingTop: 24px;
  --gse-ui-sideSheet-header-paddingLeft: 24px;
  --gse-ui-sideSheet-header-paddingRight: 24px;
  --gse-ui-sideSheet-header-gap: 16px;
  --gse-ui-sideSheet-gap: 24px;
  --gse-ui-sideSheet-body-paddingLeft: 24px;
  --gse-ui-sideSheet-body-paddingRight: 24px;
  --gse-ui-sideSheet-footer-padding: 24px;
  --gse-ui-sideSheet-widthSize-sm: 400px;
  --gse-ui-sideSheet-widthSize-md: 560px;
  --gse-ui-sideSheet-widthSize-lg: 960px;
  --gse-ui-modalSideSheet-shroud-opacity: 0.8;
  --gse-ui-dynamicSideSheet-backgroundColor: #fff;
  --gse-ui-dynamicSideSheet-headerColor: #1b2c48;
  --gse-ui-dynamicSideSheet-closeColor: #3e5374;
  --gse-ui-dynamicSideSheet-dividerColor: #c6c8ce;
  --gse-ui-dynamicSideSheet-boxShadow-x: 0;
  --gse-ui-dynamicSideSheet-boxShadow-y: 0;
  --gse-ui-dynamicSideSheet-boxShadow-blur: 6px;
  --gse-ui-dynamicSideSheet-boxShadow-spread: 1px;
  --gse-ui-dynamicSideSheet-boxShadow-color: #23395c1f;
  --gse-ui-dynamicSideSheet-boxShadow-type: dropshadow;
  --gse-ui-dynamicSideSheet-descriptionColor: #23395d;
  --gse-ui-dynamicSideSheet-heading-fontFamily: urbanist;
  --gse-ui-dynamicSideSheet-heading-lineHeight: 27px;
  --gse-ui-dynamicSideSheet-heading-fontSize: 18px;
  --gse-ui-dynamicSideSheet-heading-fontWeight: 600;
  --gse-ui-dynamicSideSheet-description-fontFamily: noto sans;
  --gse-ui-dynamicSideSheet-description-lineHeight: 18px;
  --gse-ui-dynamicSideSheet-description-fontSize: 12px;
  --gse-ui-dynamicSideSheet-description-fontWeight: 400;
  --gse-ui-dynamicSideSheet-header-interiorGap: 12px;
  --gse-ui-dynamicSideSheet-header-paddingTop: 24px;
  --gse-ui-dynamicSideSheet-header-paddingLeft: 24px;
  --gse-ui-dynamicSideSheet-header-paddingRight: 24px;
  --gse-ui-dynamicSideSheet-header-gap: 16px;
  --gse-ui-dynamicSideSheet-gap: 24px;
  --gse-ui-dynamicSideSheet-body-paddingLeft: 24px;
  --gse-ui-dynamicSideSheet-body-paddingRight: 24px;
  --gse-ui-dynamicSideSheet-footer-padding: 24px;
  --gse-ui-dynamicSideSheet-widthSize-sm: 400px;
  --gse-ui-dynamicSideSheet-widthSize-md: 560px;
}
